body {
  font-family: 'Miriam Libre', sans-serif;
  color: #4b3d3d;
}


#header-band {
  width: 100%;
  height: 10px;
  background:linear-gradient(to right,#f35354,#ef8054);
}

header nav {
  border: 1px solid #e5e5e5;
  text-align: center;
  background-color:white;
}

header nav ul li a{
  color: black;
}


header nav.navbar {
  padding: 0;
}

.form-li input{
  border: none;
}



#table {
  position: fixed;
  z-index: 0;
  top: 22%;
}

.test{
  background-color: #ededed;
  margin-top : 30px;
  padding: 20px 0;
}


.test img{
  display: block;
  max-width: 100%;
  margin:auto;
}

header{

  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:20;
}

main{
  margin-top:300px;
  position:relative;
  z-index:10;
  background-color:white;
}

.test .text{
  padding: 20px 50px;
}
